<!DOCTYPE html>
<html lang="en">
    <head>
        <title>BurgerTown</title>
        <meta charset="utf-8"/>
    </head>
    <body>
        <main>
            <h1>Welcome to BurgerTown</h1>
        </main> 
        <section>
            <h3>Choose burger</h3>
            <p>Choose what burger you want to eat</p>
            <table>
                <tbody>
                    <tr>
                        <td align="center">
                            <h4>McBanger</h4>
                        </td>
                        <td align="center">
                            <h4>McFisker</h4>
                        </td>
                        <td align="center">
                            <h4>McBland</h4>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src = "https://upload.wikimedia.org/wikipedia/commons/0/0b/RedDot_Burger.jpg" width = 150>
                        </td>
                        <td>
                            <img src = "https://sifu.unileversolutions.com/image/en-AU/recipe-topvisual/2/1260-709/crispy-fish-burger-with-jalapeno-tartare-sauce-50486970.jpg" width = 150>
                        </td>
                        <td>
                            <img src = "https://www.mcdonalds.com/is/image/content/dam/usa/nfl/nutrition/items/hero/desktop/t-mcdonalds-Hamburger.jpg" width = 150>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li>Meat</li>
                                <li>Bacon</li>
                                <li>Tomatoes</li>
                                <li>Contains gluten</li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li>Meat</li>
                                <li>Onions</li>
                                <li>Ketcup</li>
                                <li>Gluten free</li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li>Fish</li>
                                <li>Jalapeños</li>
                                <li>Salad</li>
                                <li>Contains gluten</li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section>
            <h3>Customer info</h3>
            <p> Please fill in your payment and shipment info</p>
            <p>
                <label for="fullname">Full name</label><br>
                <input type="text" id="fullname" name="fn" required="required" placeholder="Your name here"> 
            </p>
            <p>
                <label for="email">Email</label><br>
                <input type="email" id="email" name="em" required="required" placeholder="your@email.com"> 
            </p>
            <p>
                <label for="street">Street</label><br>
                <input type="text" id="strett" name="st" required="required" placeholder="Your street name here"> 
            </p>
            <p>
                <label for="apartment">Apartment</label><br>
                <input type="number" min="0" id="apartment" name="ap" required="required"> 
            </p>
            <p>
                <label for="recipient">Recipient</label><br />
                <select id="recipient" name="rcp">
                    <option selected="selected">Visa/Mastercard</option>
                    <option>Paypal</option>
                    <option>Invoice</option>
                    <option>Klarna</option>
                </select>
            </p>
            <p>
                Gender<br>
                <input type="radio" id="male" name="gm" checked>
                <label for male>Male</label>
                <input type="radio" id="female" name="gf">
                <label for male>Female</label>
                <input type="radio" id="other" name="go">
                <label for male>Other</label>
            </p>
        </section>
        <footer>
            This is a footer
        </footer>
    </body>
</html>
