<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <script src="https://vuejs.org/js/vue.js"></script>
        <script type="text/javascript" src="js/menu.js"></script>
        <script src="js/js_script.js" defer></script> 
        <script src="js/vue_script.js" defer></script> 
        <title>BurgerTown</title>
        <meta charset="utf-8"/>
    </head>
    <body>
        <main id="myID">
            <header>
                <h1>Welcome to BurgerTown</h1>
                <img src="https://i.pinimg.com/originals/8a/ca/02/8aca0292562c45103b8b4d0f48409cce.jpg">
            </header> 
        <section id="burgerchoice">
            <h3>Choose burger</h3>
            <p>Choose what burger you want to eat</p>
            <div class="burgerlist">
                <div v-for="burger in menu">
                    <img v-bind:src="burger.img">
                    {{ burger.name }}
                    <ul>
                        <li>
                           {{ burger.kCal }} kcal
                        </li>
                        <li v-if="burger.gluten == 'no'">
                            Gluten Free
                        </li>
                        <li v-if="burger.lactose == 'no'">
                            Lactose Free
                        </li>
                    </ul>
                <input type="checkbox" id="burger.name" name="burgerSelect" v-bind:value="burger.name">
                </div>
            </div>
        </section>
        <section id="customerinfo">
            <h3>Customer info</h3>
            <p> Please fill in your payment and shipment info</p>
            <form>
            <p>
                <label for="fullname">Full name</label><br>
                <input v-model="fullname" type="text" id="fullname" name="fn" required="required" placeholder="Your name here"> 
            </p>
            <p>
                <label for="email">Email</label><br>
                <input v-model="email" type="email" id="email" name="em" required="required" placeholder="your@email.com"> 
            </p>
            <p>
                <label for="street">Street</label><br>
                <input v-model="street" type="text" id="street" name="st" required="required" placeholder="Your street name here"> 
            </p>
            <p>
                <label for="apartment">Apartment</label><br>
                <input v-model="apartment" type="number" min="0" id="apartment" name="ap" required="required"> 
            </p>
            <p>
                <label for="recipient">Recipient</label><br />
                <select v-model="recipient" id="recipient" name="rcp">
                    <option selected="selected">Visa/Mastercard</option>
                    <option>Paypal</option>
                    <option>Invoice</option>
                    <option>Klarna</option>
                </select>
            </p>
            <p>
                Gender<br>
                <input v-model="selectedGender" type="radio" id="male" value="male" checked>Male<br>
                <input v-model="selectedGender" type="radio" id="female" value="female">Female<br>
                <input v-model="selectedGender" type="radio" id="other" value="other">Other
            </p>
            </form>
            <div id="myID">
                {{fullname}}
                {{email}}
                {{street}}
                {{apartment}}
                {{recipient}}
                {{selectedGender}}
                {{confirmedBurgers}}
                <button v-on:click="submit(fullname,email,street,apartment,recipient,selectedGender,selectedBurger)" type="submit" id="submitbutton"><img src="https://previews.123rf.com/images/sarahdesign/sarahdesign1509/sarahdesign150900475/44516943-confirm-icon-check-mark-button.jpg" width="15"/> Send Info</button>
            </div>
        </section>
        <footer>    
            &copy;This is a footer
        </footer>
    </main>
    </body>
</html>
