body {
	font-family: serif;
	font-size: 20px;
	color: black;
}

header img {
	opacity: 0.5;
	width: 100%;
	height: auto;
}

header {
	height: 500px;
	margin: 50px;
	overflow:hidden;
}

header h1 {
	padding: 100px;
	opacity: 1;
	position: absolute;
}

.allergies {
	font-weight: bold;
}

.wrapper {
	display:grid;
	grid-template-columns: 400px 400px 400px;	
	grid-gap: 20px;
}

.box {
	text-align: center;
}

table {
	width: 100%;
}

section {
	margin: 50px;
}

#submitbutton {
	margin: 20px;
}

#burgerchoice {
	padding: 20px;
	border: 4px dashed white;
	background: black;
	color: white;
}

#customerinfo {
	padding: 20px;
	border: 4px dashed black;
}

button:hover {
	background: greenyellow;
	cursor: pointer;
}