body {
	font-family: serif;
	font-size: 20px;
	color: black;
}

.allergies {
	font-weight: bold;
}

table {
	width: 100%;
}

section {
	margin: 50px;
}

#burgerchoice {
	background: black;
	color: white;
}

#customerinfo {

}

button:hover {
	background: greenyellow;
	cursor: pointer;
}